@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tippy.js/dist/tippy.css';
body {
    transition: background-color 1s ease-in-out;
}
.container-box {
    max-width: 978.4px;
}
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/gray-dark.css';
.pink__theme {
    background-color: #ff9592;
}
