@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: all 1s ease-in-out;
}
.container {
    width: 980px;
}
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/gray-dark.css';
.pink__theme {
    background-color: #ff9592;
}
