@import '../GlobalStyles/Variable.scss';

.card {
    transition: opacity 3s ease-in-out;
    .card__purchare {
        display: none;
    }
    &:hover .card__purchare {
        display: block;
    }
    &:hover .card_image {
        opacity: 0.8;
    }
}
