@import '../GlobalStyles/Variable.scss';

.card_purchare_icon {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url('../../assets/img/iconPurchareTicket.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 3px;
}

.card {
    transition: opacity 3s ease-in-out;
    .card__purchare {
        display: none;
    }
    &:hover .card__purchare {
        display: block;
    }
    &:hover .card_image {
        opacity: 0.8;
    }
}
