.card_rating_t16__bg {
    background-image: url('../../assets/img/t16.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.card_ribon_top1__bg {
    background-image: url('../../assets/img/top1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.card_web_69k__bg {
    background-image: url('../../assets/img/69k.png');
    background-repeat: no-repeat;
    background-size: contain;
}
