.footer {
    background: url('../../../assets/img/bgFooter.jpg');
}
.footer__brand__slice__nav {
    background-image: url('../../../assets/img/bgBrandSlice.png');
    background-repeat: no-repeat;
    background-position: 2px 3px;
    background-size: cover;
    height: 28px;
    width: 980px;
    display: block;
    text-indent: -9999px;
}
// .footer__brand__slice__nav ul li {
//     background-position: -236px 5px;
//     width: 57px;
// }
