@use '../../../components/GlobalStyles/Variable.scss' as *;
.header {
    width: 100%;
    background: url('../../../assets/img/bgHeader.png') transparent;
    background-size: 10px 135px;
    height: 135px;
}
// .header__container {
// }
// .header__search {
// }
// .header__search__left {
// }
// .header__search__right {
// }
.header__logo {
    width: 130px;
}
.header__search__vn {
    background-color: $primary;
    border-color: $primary;
}
.header__search__en {
    border-color: gray;

    background-color: gray;
}
.header__persional nav ul {
    li a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: inherit;
        font-size: 14px;
    }
}

.bg_menu_hover {
    background-image: url('../../../assets/img/bgMenuHover.png');
    background-repeat: repeat;
}
